ALPACA_API_KEY=inserisci_qui_la_tua_api_key
ALPACA_SECRET_KEY=inserisci_qui_la_tua_secret_key
ALPACA_BASE_URL=https://api.alpaca.markets
PAYMENT_WALLET_BTC=inserisci_wallet_btc
PAYMENT_WALLET_ETH=inserisci_wallet_eth
PAYMENT_WALLET_USDC=inserisci_wallet_usdc
PAYMENT_WALLET_SOL=inserisci_wallet_sol
PAYMENT_WALLET_USDT=inserisci_wallet_usdt_trc20
